<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Django Forms Inspector{% endblock %} -- Classy Django Forms</title>
    <meta name="description" content="Detailed descriptions, with full methods, properties and attributes of {{ this_klass_name|default('each') }} Django forms class.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ base_url }}static/favicon.ico"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles from Twitter Bootstrap-->
    <link href="{{ base_url }}static/bootstrap.css" rel="stylesheet">
    <link href="{{ base_url }}static/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ base_url }}static/style.css" rel="stylesheet">
    <link href="{{ base_url }}static/manni.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ base_url }}static/jquery-1.7.1.min.js"><\/script>');</script>
    <script src="{{ base_url }}static/bootstrap-collapse.js"></script>
    <script src="{{ base_url }}static/modernizr-2.5.3.min.js"></script>
    <script src="{{ base_url }}static/bootstrap-dropdowns.js"></script>
    <script>$('.dropdown-toggle').dropdown()</script>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106634847-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-106634847-1');
    </script>

    {% block extraheaders %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">cdf</a>
                <ul class="nav">

                {% block nav %}

                <li li="version-{{ version }}" class="dropdown">
                    {% if not other_versions %}
                        <a href="#">{{ version_prefix }} {{ version }}</a>
                    {% else %}
                        <a href="#version-{{ version }}" class="dropdown-toggle" data-toggle="dropdown">
                            {{ version_prefix }} {{ version }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% for v in other_versions %}
                                <li>
                                    <a href="{{ get_version_url(v) }}">{{ v }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>

                <li class="divider-vertical"></li>
                {% for module, klasses in klasses.items() %}
                    {% if current_module != module or loop.first %}
                        {% if not loop.first %}</ul></li>{% endif %}
                        {% set module_short_name = module.__name__.split('.')[-1] %}
                        <li id="module-{{ module_short_name }}" class="dropdown{% if klass.__module__ == this_module %} active{% endif %}">
                            <a href="#module-{{ module_short_name }}" class="dropdown-toggle" data-toggle="dropdown">
                                {{ module_short_name|title }} <b class="caret"></b>
                            </a>
                        <ul class="dropdown-menu">
                    {% endif %}
                    {% for klass in klasses %}
                        <li {% if this_klass == klass %}class=" active"{% endif %}>
                            <a href="{{ get_klass_url(klass) }}">{{ klass.__name__ }}</a>
                        </li>
                    {% endfor %}
                    {% set current_module = module %}
                {% endfor %}
                </ul></li>
                {% endblock nav %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <article id="main">
            {% block page_header %}{% endblock %}
            <div class="row">{% block content %}{% endblock %}</div>
        </article>
        {% block footer %}
            <footer>
                <hr />
                <p>Built by <a href="http://twitter.com/anabalica" target="_blank">@anabalica</a>.</p>

                <p><a href="http://github.com/ana-balica/classy-django-forms/">Source code</a> on <a href="http://github.com/">GitHub</a>.</p>

                <p>Based on <a href="http://ccbv.co.uk/">Django Classy Class-Based Views</a> and <a href="http://www.cdrf.co/">Classy Django Rest Framework</a>.</p>
            </footer>
        {% endblock %}
    </div> <!-- /container -->
    <script type="text/javascript">$('.dropdown-toggle').dropdown()</script>
    {% block extra_js %}{% endblock %}
</body>
</html>
